.sidenav {
    height: 100%;
    position: fixed;
    z-index: 111;
    top: 0;
    left: 0;
    background-color: #f8f8ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    transition: all 0.4s ease;
}

.sideMenu {
    line-height: 65px;
}

.sideMenu ul {
    list-style: none;
    padding: 0;
}

.sideMenu li {
    padding: 2px 12px;
    margin: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    color: #111;
    display: flex;
    gap: 40px;
}

.sideMenu li:hover {
    background-color: #111;
    border-radius: 28px;
    color: #fff;
}

.LogoDisplay {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.LogoDisplayAlt {
    display: none;
}

.LogoDisplay img {
    border-radius: 50%;
}